@import "tailwindcss";

:root {
  /* --background: #f5f6f7; */
  /* --color: #111827; */
}

html,
body {
  background-color: #f5f6f7;
  color: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}
.main-logo{
  color: #005d14;
  font-weight: 800;
  position: relative;
  -webkit-text-stroke: 1px #c2c2c2;
}
body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}